hr {
  opacity: 0;
  page-break-after: always;
}

body {
  color: #073763;
  font-family: Roboto, "Open Sans", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.7;
  padding: 1em;
  margin: auto;
  background: #fefefe;
}

h1, h2, h3 {
  color: #3d85c6;
  line-height: 125%;
  font-weight: normal;
}

h2, h3 {
  margin-top: 2em;
}

h3 {
  font-weight: bold;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 133%;
}

h3 {
  font-size: 100%;
}

blockquote {
  color: #073763;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}

pre, code, kbd, samp {
  color: #674ea7;
  font-family: monospace, monospace;
  _font-family: Consolas, "Courier New", monospace;
  font-size: 100%;
  font-weight: bold;
}

footer {
  font-size: 85%;
  text-align: center;
  margin-top: 2em;
  color: #999;
}

.checklist li {
  font-size: 100%;
  line-height: 1.5;
}

.checklist h2 {
  margin-top: 2em;
}
